@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

h2 {
  text-align: center;
  margin-top: 15rem;
  font-size: 3rem;
  margin-bottom: 5rem;
}

h2 {
  text-align: center;
  margin-top: 10rem;
  font-size: 3rem;
  margin-bottom: 5rem;
}

h3 {
  font-size: 2.5rem;
  margin-top: 5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

h4 {
  font-size: 2rem;
  font-weight: 500;
}

h5 {
  font-size: 1.5rem;
}
/*start header*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: #231f20;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999;
}

.navbar img {
  width: 5%;
}
.navbar .navbar-nav a {
  color: #a0a0a0;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: #fff;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #fff;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-ekstra a {
  color: #a0a0a0;
  margin: 0 0.5rem;
}

.navbar .navbar-ekstra a:hover {
  color: #fff;
}
.search-box {
  position: absolute;
  top: 110%;
  right: -100%;
}

.search-box input {
  padding: 10px;
  border-radius: 0.5rem;
  width: 280px;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.search-box.active {
  right: 1rem;
  transition: 0.2s;
}

#hamburger-menu {
  display: none;
}

.bantuan {
  background: #231f20;
  padding: 2rem;
  max-width: 576px;
  width: 100%;
  border-radius: 0.75rem;
  box-shadow: 8px 8px 30px rgba(29, 29, 29, 0.5);
  position: absolute;
  display: none;
  top: 15%;
  right: -100%;
  z-index: 999;
}

.bantuan.active {
  right: 30%;
  transition: 0.2s;
  display: block;
}
.bantuan h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 5rem;
  text-align: center;
  color: #fff;
}

textarea.question {
  position: relative;

  font-size: 1rem;
  color: #707077;
  border: 1px solid #707077;
  border-radius: 8px;
  padding: 0 15px;
  width: 100%;
  background: #231f20;
  padding: 1rem;
  border-radius: 0.5rem;

  resize: none;
  margin-bottom: 0.5rem;
}

.bantuan .btn-group {
  display: flex;
  grid-gap: 0.5rem;
  align-items: center;
  justify-content: right;
}
.bantuan .btn-group .btn {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
}
.bantuan .btn-group .btn.submit {
  color: #a0a0a0;
  background-color: #131313;
}
.bantuan .btn-group .btn.submit:hover {
  color: #fff;
  background-color: #000;
}
.bantuan .btn-group .btn.cancel {
  background: #a0a0a0;
  color: #000;
}
.bantuan .btn-group .btn.cancel:hover {
  background: #fff;
}
.bantuan form label {
  color: #707077;
}

.bantuan form label:focus-within {
  color: #fff;
}

.bantuan .id input {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #ffffff;
  border: 1px solid #707077;
  background: #231f20;
  border-radius: 8px;
  padding: 0 15px;
  margin-bottom: 2rem;
}
.bantuan form input:focus,
.bantuan form textarea:focus {
  border: 1px solid #fff;
  color: #fff;
  transition: all 0, 3s ease;
}
.bantuan input:focus + label {
  color: #fff;
  transition: all 0, 3s ease;
}

/*form input:focus::placeholder,
form textarea:focus::placeholder {
  padding-left: 4px;
  color: #fff;
  transition: all 0, 3s ease;
}*/
.sosmed {
  margin-top: 2rem;
}
.sosmed-icon {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.sosmed .sosmed-icon a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
  font-size: 1.5rem;
}

.sosmed .sosmed-icon a:hover {
  color: #231f20;
  background-color: #fff;
}
h6 {
  margin: 30hv auto;
  text-align: center;
  position: relative;
  color: #ddd;
  font-weight: 400;
}

h6::before {
  content: "";
  height: 1px;
  width: 18vw;
  background-color: #ddd;
  position: absolute;
  top: 50%;
  right: 0;
}

h6::after {
  content: "";
  height: 1px;
  width: 18vw;
  background-color: #ddd;
  position: absolute;
  top: 50%;
  left: 0;
}
/*end header*/
/*start tentang kami*/
.thepict {
  height: 630px;
  width: 1120px;
  display: block;
  border-radius: 35px;
  align-items: center;
  margin: auto;
  box-shadow: 8px 8px 30px rgba(29, 29, 29, 0.5);
}

.thepict:hover {
  transform: translate(0px, -8px);
  transition: 0.5s;
}

.logoimg {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin: auto;
  display: block;
  box-shadow: 8px 8px 30px rgba(29, 29, 29, 0.5);
}

.logoimg:hover {
  transform: translate(0px, -8px);
  transition: 0.5s;
}

.reach-us {
  text-align: center;
  font-size: 20px;
}

/*stop tentang kami*/
/*start home*/

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 9%,
    rgba(255, 255, 255, 0) 20%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5rem;
  color: #000;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);

  line-height: 1.2;
}

.hero .content p {
  font-size: 1.6rem;
  /*color: #fff;*/
  color: #000;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 500;
  /*text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);*/
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #a0a0a0;
  background-color: #231f20;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
}

.hero .content .cta:hover {
  color: #fff;
}

.kategori {
  text-align: center;
  margin-top: 10rem;
  font-size: 3rem;
}
.kategori-produk {
  margin-top: 5rem;
}

.kategori-produk .box {
  position: relative;
  overflow: hidden;
  background: #a0a0a0;
}

.kategori-produk .box img {
  background: #a0a0a0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.kategori-produk .box .content {
  position: absolute;
  top: -100%;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(0, 0%, 91%, 0.5);
  overflow: hidden;
}

.kategori-produk .swiper-wrapper {
  padding: 1.4rem 7%;
  display: flex;
}
.kategori-produk .swiper-wrapper .box {
  margin: 0 0.5rem;
}
.kategori-produk .box:hover .content {
  top: 0;
  transition: 0.2s;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #a0a0a0;
  background-color: #231f20;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
}

.btn:hover {
  color: #fff;
}

.slider-wrapper {
  position: relative;
  width: 60%;
  max-width: 30 rem;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 8px 8px 30px rgba(29, 29, 29, 0.5);
  border-radius: 2rem;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1 rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: palevioletred;
  opacity: 0.75;
  transition: opacity ease 250ms;
  margin-left: 5px;
}

.slider-nav a:hover {
  opacity: 1;
}

/*buat bagian card rekomendasi*/

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding: 100px 50px;
}

.container .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 300px;
  width: 350px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 8px 8px 30px rgba(29, 29, 29, 0.5);
  transition: 1s;
}

.container .card:hover {
  height: 350px;
}

.container .card .imgbox {
  position: absolute;
  top: 20px;
  width: 150px;
  height: 150px;
  background: #464646;
  border-radius: 12px;
  transition: 0.5s;
  overflow: hidden;
}

.container .card:hover .imgbox {
  top: -100px;
  box-shadow: 8px 8px 30px rgba(29, 29, 29, 0.5);
}

.container .card .imgbox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.container .card .content {
  position: absolute;
  width: 100%;
  padding: 0 30px;
  text-align: center;
  top: 200px;
  height: 50px;
  overflow: hidden;
  transition: 0.5s;
}

.container .card:hover .content {
  top: 100px;
  height: 250px;
}

.container .card .content h3 {
  margin-top: 0;
  font-size: 1.5em;
  font-weight: 700;
}

.container .card .content p {
  margin-top: 1.5rem;
  color: black;
}

/*end home*/

/*start login signup*/

.wrapper {
  overflow: hidden;
  max-width: 390px;
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 8px 8px 30px rgba(29, 29, 29, 0.5);
  justify-content: center;
  align-items: center;
  top: 30%;
  right: 35%;
  position: absolute;
  display: none;
  z-index: 9999;
}

.wrapper.active {
  display: block;
  transition: 0.2s;
}

.wrapper .title-text {
  display: flex;
  width: 200%;
}
.wrapper .title {
  width: 50%;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .slide-controls {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 15px;
}
.slide-controls .slide {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup {
  color: #000;
}
.slide-controls .slider-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 15px;
  background: black;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input[type="radio"] {
  display: none;
}
#signup:checked ~ .slider-tab {
  left: 50%;
}
#signup:checked ~ label.signup {
  color: #fff;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login {
  color: #000;
}
#login:checked ~ label.signup {
  color: #000;
}
#login:checked ~ label.login {
  cursor: default;
  user-select: none;
}
.wrapper .form-container {
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner {
  display: flex;
  width: 200%;
}
.form-container .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-inner form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}
.form-inner form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 15px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.form-inner form .field input:focus {
  border-color: #474747;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder {
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder {
  color: #353535;
}

.form-inner form .signup-link {
  text-align: center;
  margin-top: 30px;
}

.form-inner form .signup-link a {
  color: #1a75ff;
  text-decoration: none;
}

.form-inner form .signup-link a:hover {
  text-decoration: underline;
}
form .btn {
  height: 50px;
  width: 100%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
form .btn .btn-layer {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: black;
  border-radius: 15px;
  transition: all 0.4s ease;
}
form .btn:hover .btn-layer {
  left: 0;
}
form .btn input[type="submit"] {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

/*stop login signup*/
/*etalase*/

.gallery .content h3 {
  text-align: center;
  font-size: 20px;
  margin: 0;
  padding-top: 10px;
}
.container-text p {
  text-align: center;
}

.product-container {
  grid-template-columns: repeat(4, 1fr);
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.gallery .content {
  width: 20%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 10px;
  box-shadow: 8px 8px 30px rgba(29, 29, 29, 0.5);
  transition: 0.4s;
  background: white;
}

.gallery .content:hover {
  box-shadow: 0 0 35px;
  transform: translate(0px, -8px);
}

.product-img {
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  display: block;
  border-radius: 15px;
}

.gallery .content h7 {
  font-size: 15px;
  text-align: center;
  color: black;
  margin: 0;
}

.content ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
}

li {
  padding-top: 5px;
}

.fa {
  font-size: 26px;
  transition: 0.4s;
  margin: 3px;
}

.checked {
  color: #ff9f43;
}

.fa:hover {
  transform: scale(1.3);
  transition: 0.6s;
}

button {
  text-align: center;
  font-size: 24px;
  color: white;
  width: 100%;
  padding: 15px;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
/*.content a {
  color: #fff;
  padding: 1.3rem 9rem;
  margin: 0;
  text-align: left;
}*/
.buy {
  background: black;
}

/*etalase*/
/*start deskripsi*/

.deskripsi-produk .content h3 {
  font-size: 2.5rem;
  margin-top: 1rem;
  text-align: left;
}
.deskripsi-produk {
  display: flex;

  align-items: center;
  padding: 1.4rem 7%;
}

.produk-img img {
  width: 100%;
  border-radius: 1rem;

  margin-inline-end: 40rem;
  /*margin-left: 10rem;*/
}
.deskripsi-produk .content {
  margin-left: 10rem;
}

p {
  text-align: justify;
  font-size: 1.5rem;
}
.warna-img img {
  width: 20%;
  margin: 0 0.5rem;
}
.detail-produk {
  display: flex;
}

.cta {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  color: #a0a0a0;
  background-color: #231f20;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
}
.cta:hover {
  color: #fff;
}

/* tambahan */
#ukuranbaju{
  font-size: 16px;
  background-color: #efefef;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

#jumlah-produk{
  width: 50px;
  font-size: 16px;
  margin-right: 15px;
  background-color: #efefef;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  margin-left: 10px;
}

.ulasan {
  padding: 1.4rem 7%;
  margin-top: 5rem;
}
.ulasan-produk {
  display: flex;
  align-items: center;
}
.ulasan-produk img {
  width: 4%;
  border-radius: 5rem;
}
.akun {
  margin-left: 1rem;
}

#horizontal {
  margin-top: 1.5rem;
  width: 100%;
  height: 2px;
  background-color: #a0a0a0;
}

.form-ulasan {
  background: #fff;
  padding: 2rem;
  max-width: 576px;
  width: 100%;
  border-radius: 0.75rem;
  box-shadow: 8px 8px 30px rgba(29, 29, 29, 0.5);
  position: absolute;
  display: none;
  top: 100%;
  right: -100%;
}

.form-ulasan.active {
  right: 30%;
  transition: 0.2s;
  display: block;
}
.form-ulasan h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}
.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 0.5rem;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: rgb(255, 221, 0);
}
.rating .star {
  cursor: pointer;
}
.rating .star.active {
  animation: animate 0.5s calc(var(--i) * 0.1s) ease-in-out forwards;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.rating .star:hover {
  transform: scale(1.1);
}
textarea {
  position: relative;

  font-size: 1rem;
  color: #707077;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0 15px;
  width: 100%;
  background: #fff;
  padding: 1rem;
  border-radius: 0.5rem;

  resize: none;
  margin-bottom: 0.5rem;
}
.btn-group {
  display: flex;
  grid-gap: 0.5rem;
  align-items: center;
}
.btn-group .btn {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
}
.btn-group .btn.submit {
  color: #a0a0a0;
  background-color: #231f20;
}
.btn-group .btn.submit:hover {
  color: #fff;
}
.btn-group .btn.cancel {
  background: #fff;
  color: #231f20;
}
.btn-group .btn.cancel:hover {
  background: #f5f5f5;
}
span {
  color: #4383ff;
  cursor: pointer;
}

span:hover {
  color: #0055ff;
}

.form-ulasan .user-input-box {
  width: 100%;
  margin-top: 20px;
}

.user-input-box label {
  color: #333;
  text-align: left;
}

.user-input-box input {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707077;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0 15px;
  margin-bottom: 2rem;
}

/*end deskripsi*/

/*footer*/

footer {
  position: fixed;
  bottom: 0;
  padding: 1.4rem 7%;
}

@media (max-height: 800px) {
  footer {
    position: static;
  }
  header {
    padding-top: 40px;
  }
}
.footer {
  display: flex;
  flex-wrap: wrap;
}
.footer-distributed {
  background-color: #231f20;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */
.footer-left img {
  width: 30%;
}

.footer-distributed .footer-left {
  width: 30%;
  /* text-align: center;*/
}

.footer-distributed h3 {
  color: #ffffff;
  font: light "Inconsolata";
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
  margin: 0;
}

.footer-distributed h3 span {
  color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

/*footer center*/
.footer-center .fitur {
  display: flex;
  margin-left: 2rem;
  justify-content: center;
}
.footer-distributed .footer-center {
  width: 30%;
}
/*footer right*/
.footer-distributed .footer-right {
  width: 100%;
}
.footer-right .kontak {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.footer-distributed .footer-right i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  margin: 10px 10px;
  vertical-align: middle;
}

.footer-distributed .footer-right i:hover {
  color: #231f20;
  background-color: #fff;
}

.footer-distributed .footer-right p {
  display: inline-block;
  color: #bbbbbb;
  font-size: 16px;
  font-weight: 300;
  vertical-align: middle;
  margin: 0;
  cursor: pointer;
}
.footer-distributed .footer-right p:hover {
  color: #fff;
}

.footer-distributed .footer-right p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-right p a {
  color: #bbbbbb;
  text-decoration: none;
}
.footer-distributed .footer-right p a:hover {
  color: #fff;
  text-decoration: none;
}

.footer-col {
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #fff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul {
  display: list-item;
  list-style: none;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 2rem;
}

.footer-distributed .footer-company-about span {
  margin-top: 2rem;
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
/*footer end*/

/* media queries*/
/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #231f20;
    width: 30rem;
    height: 100vh;
  }

  .navbar .navbar-nav a {
    color: #fff;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: ScaleX(0.2);
  }

  .navbar .navbar-nav.active {
    right: 0;
  }
}
/* hp */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
.cart{
  width: 70%;
  margin-bottom: 30px;
  margin-right: 10px;
  position: absolute;
  background-color: #231f20;
  right: 0;
  width: 40%;
  padding: 2rem;
  max-width: 576px;
  border-radius: 0.75rem;
  box-shadow: 8px 8px 30px rgba(29, 29, 29, 0.5);
  top: 15%;
  z-index: 999;
  color: #a0a0a0;
}
.foot{
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  padding: 10px 0px;
  border-top: 1px solid #fff;
}
#sidebar{
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.keranjang-gambar-kecil {
  max-width: 70px; 
  max-height: 70px; 
  width: auto;
  height: auto; 
  border-radius: 5px;
}
.hapus-item {
  font-weight: bold;
  padding: 0;
  color: #707077;
}
.head h4 {
  margin-bottom: 20px;
  font-weight: bold;  
}
button.hapus-item {
  border-radius: 30px;
  padding: 10px;
  background-color: #231f20;
  margin-top: 20px;
}
#keranjangbelanja th {
  color: #fff;
  padding: 10px;
}
#keranjangbelanja td {
  padding: 10px; 
  text-align: center; 
  font-size: medium;
}
#total {
  margin-top: 10px;
  margin-left: 120px;
}
#hurufTotal {
  margin-top: 10px;
  margin-right: 120px;
}
#ulasan-terkirim{
  padding: 1.4rem 7%;
  margin-top: 1rem;
}
#ulasan-terkirim span {
  color: #000;
}
#ulasan-terkirim p {
  font-size: 1.5rem;
}
#ulasan-rating {
  color: #000;
}
#ulasan-tekstual {
  color: #000;
}
#submit-ulasan{
  margin: 70px;
  padding: 20px;
}
#shopping-now button {
  background-color: #231f20;
}
a.now {
  background-color: #707077;
  padding: 10px;
  border-radius: 10px;
  color: #231f20;
  font-weight: bold;
  font-size: medium;
}
.cart-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.cart-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
#cart-count {
  color: white;
}
#cartPopup {
  display: none;
}
.bintang{
  width: 15px;
}
.bintangkosong{
  width: 15px;
}
